.contents .inner .product ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contents .inner .product ul li {
  flex: calc(33% - 10px);
  padding-right: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.contents .inner .product ul li a img {
  width: 100%;
}

.contents .inner .product ul li .product_text_box {
  text-align: center;
}
