.contents{
  .inner{
    .product{
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
          flex: calc(33% - 10px);
          padding-right: 10px;
          flex-grow: 0;
          flex-shrink: 0;
          margin-top: 10px;
          .img_box{
            width: 100%;
            position: relative;
          // }
          a{
            width: 100%;
            // position: relative;
            img{
              width: 100%;
              display: block;
              opacity: 1;
            }
            .img_hover{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
              opacity: 0;
              transition: all 0.2s;
              .img_hover_text{
                color: #fff;
                font-size: $fontSizeSmall;
                padding: 5px 10px;
                background: $gbtnColor;
              }
            }
          }
        }
          .product_text_box{
            text-align: center;
            .product_name{
              font-size: $fontSizeNormal;
              margin: 10px 0;
            }
            .product_desc{
              margin-bottom: 5px;
              font-size: $fontSizeSmall;
            }
          }
          &:hover{
            a{
              img{
                opacity: 0.68;
              }
              .img_hover{
                opacity: 1;
                .img_hover_text:hover{
                  background: $gbtnHoverColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
