/* var scss */
// size width
$siteWidth: 1320px;

// primary color
$primaryColor: #01a1dd;

// font size
$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title size
$titleSizeSmall: 21px;
$titleSizeMid: 26px;
$titleSizeBig: 32px;

// other color
$boxBg: #f3f3f5;
$fontBasicColor: #555;
$fontHoverColor: #08c;

// gbtn color
$gbtnColor: #01a1dd;
$gbtnHoverColor: #08c;

// border color
$borderColorPrimary: #01a1dd;
$borderColorOther: #08c;
$borderColor: #f7f7f7;
